body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #36393F; 
    color: #FFFFFF; 
}

header {
    background-color: #2F3136; 
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #7289DA; 
    margin: 0;
}

nav a {
    color: #B9BBBE; 
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #7289DA; 
}

form {
    width: 50%;
    margin: 30px auto;
    background-color: #40444B; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #B9BBBE;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4F535C;
    border-radius: 5px;
    background-color: #2F3136;
    color: #FFFFFF;
}

form input[type="number"], form input[type="date"] {
    background-color: #40444B;
}

form input:focus, form select:focus, form button:focus {
    outline: none;
    border: 1px solid #7289DA;
}

form button {
    background-color: #7289DA; 
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

form button:hover {
    background-color: #5B6E8E; 
}

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #40444B; 
    color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #4F535C;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #4F535C;
}

th {
    background-color: #2F3136;
    color: #B9BBBE;
    font-weight: bold;
}

td {
    background-color: #40444B;
}

tr:hover {
    background-color: #7289DA;
    color: white;
}

button.add-btn {
    background-color: #43B581; 
}

button.add-btn:hover {
    background-color: #38A169;
}

button.edit-btn {
    background-color: #FF9F00; 
}

button.edit-btn:hover {
    background-color: #FF7F00;
}

button.delete-btn {
    background-color: #F04747; 
}

button.delete-btn:hover {
    background-color: #D32F2F;
}


button.editBtn {
    background-color: #43B581; 
    color: white;
}

button.editBtn:hover {
    background-color: #36A152; 
}

button.deleteBtn {
    background-color: #F04747; 
    color: white;
}

button.deleteBtn:hover {
    background-color: #E03C3C; 
}

footer {
    background-color: #2F3136;
    padding: 10px;
    text-align: center;
    color: #B9BBBE;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    form {
        width: 80%;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }
}
