body {
    font-family: Arial, sans-serif;
    background-color: #313338;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#artistTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#artistTable th, #artistTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#artistTable th {
    background-color: #333;
    color: white;
}

#artistTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
